{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // add any custom rules here
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true,
  },
  "ignorePatterns": [ "dist/**"],
  "overrides": [
    {
      "files": ["./src/**/*.ts"],
      "rules": {
        "no-console": "warn"
      }
    }
  ]
}